.App {

}

.main-block{
    display: flex;
    flex-direction: row;
    margin: 100px auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.todoList {
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.panel-block.is-active{
  opacity: 0.5;
}

.filter-active{
  background-color: blue;
}

.error {
  border-color: red;
}

.panel-block {
  width: 260px;
  display: flex;
}






