.App {
  display: flex;
  flex-direction: row;
}

.todoList {
  width: 300px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.filter-active{
  background-color: blue;
}

.error {
  border-color: red;
}

.todoList-task.done {
  opacity: 0.5;
}

.todoList-header{
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.deleteBtn{
  height: 25px;
  width: 25px;
}

.task{
  display: flex;
}
